<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li><%= @artist.nickname %>さんのプロフィール</li>
  </ul>
</div>
<h2><%= @artist.nickname %>さんのプロフィール</h2>
<ul class="artist-profile">
  <li>
    <div class="thumbnail<%= @is_following ? ' ribbon-wrapper' : '' %>">
      <% if @is_following %>
        <div class="ribbon-content">
          <span class="ribbon">following</span>
        </div>
      <% end %>
      <% if @artist.thumbnail.present? %>
        <%= image_tag url_for(@artist.thumbnail.url) %>
      <% else %>
        <%= image_tag 'common/default.png' %>
      <% end %>
    </div>
    <ul class="review-list">
      <li><i class="fas fa-users"></i> <%= @artist.users.count %></li>
      <li><%#= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
      <li><%#= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
    </ul>
  </li>
  <li>
    <table>
      <tr>
        <th>ユーザー名</th><td><%= @artist.nickname %></td>
      </tr>
      <tr>
        <th>誕生日</th>
        <td>
          <% if @artist.birthday.present? %>
            <%= @artist.birthday.strftime("%m月 %d日") %>
          <% else %>
            未設定
          <% end %>
        </td>
      </tr>
      <tr>
        <th>SNS</th>
        <td>
          <table class="sns_account_list">
            <% if @artist.sns_account(sns_name: 'twitter').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/twitter.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'twitter'),
                  'https://twitter.com/'+ @artist.sns_account(sns_name: 'twitter'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'facebook').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/facebook.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'facebook'),
                  'https://www.facebook.com/'+ @artist.sns_account(sns_name: 'facebook'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'instagram').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/instagram.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'instagram'),
                  'https://www.instagram.com/'+ @artist.sns_account(sns_name: 'instagram'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'youtube').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/youtube.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'youtube'),
                  'https://www.youtube.com/user/'+ @artist.sns_account(sns_name: 'youtube'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr>
        <th>ホームページ</th>
        <td>
          <%= link_to @artist.website_url, @artist.website_url, target: :_blank %>
        </td>
      </tr>
    </table>
  </li>
</ul>

<%= render partial: 'common/follow_and_letter_button' %>

<%= render partial: 'common/balloon_message', locals: { artist: @artist, message: simple_format(@artist.description) } %>

<h2>参加したイベント一覧</h2>
<% if @artist.events.present? %>
  <ul class="item-list">
    <%= render partial: 'common/event_cards', locals: { events: @artist.events } %>
  </ul>
<% else %>
  まだ参加したイベントがありません
<% end %>

<h2>物販一覧</h2>
<% if @artist.items.present? %>
  <div class="product-sales">
    <ul class="item-list">
      <%= render partial: 'common/item_cards', locals: { items: @artist.items } %>
    </ul>
    <%= link_to 'もっと見る', artist_items_path(artist_id: @artist.id) %>
  </div>
<% else %>
  まだ商品を登録していません
<% end %>

<%= render partial: 'common/follow_and_letter_button' %>
