<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li><%= @artist.nickname %>さんのプロフィール</li>
  </ul>
</div>
<h2><%= @artist.nickname %>さんのプロフィール</h2>
<ul class="artist-profile">
  <li>
    <div class="thumbnail">
      <% if @artist.thumbnail.present? %>
        <%= image_tag url_for(@artist.thumbnail.url) %>
      <% else %>
        <%= image_tag 'common/default.png' %>
      <% end %>
    </div>
    <ul class="review-list">
      <li><%#= image_tag 'friends.png', :class => 'icon', :size =>'16x16' %> 10</li>
      <li><%#= image_tag 'good.png', :class => 'icon', :size =>'16x16' %> 20</li>
      <li><%#= image_tag 'comment.png', :class => 'icon', :size =>'16x16' %>  3</li>
    </ul>
  </li>
  <li>
    <table>
      <tr>
        <th>ユーザー名</th><td><%= @artist.nickname %></td>
      </tr>
      <tr>
        <th>誕生日</th>
        <td>
          <% if @artist.birthday.present? %>
            <%= @artist.birthday.strftime("%m月 %d日") %>
          <% else %>
            未設定
          <% end %>
        </td>
      </tr>
      <tr>
        <th>SNS</th>
        <td>
          <table class="sns_account_list">
            <% if @artist.sns_account(sns_name: 'twitter').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/twitter.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'twitter'),
                  'https://twitter.com/'+ @artist.sns_account(sns_name: 'twitter'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'facebook').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/facebook.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'facebook'),
                  'https://www.facebook.com/'+ @artist.sns_account(sns_name: 'facebook'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'instagram').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/instagram.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'instagram'),
                  'https://www.instagram.com/'+ @artist.sns_account(sns_name: 'instagram'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
            <% if @artist.sns_account(sns_name: 'youtube').present? %>
              <tr>
                <td class="sns"><%= image_tag 'common/youtube.png', :class => 'sns-icon' %></td>
                <td class="sns-id">
                  <%= link_to @artist.sns_account(sns_name: 'youtube'),
                  'https://www.youtube.com/user/'+ @artist.sns_account(sns_name: 'youtube'),
                  target: :_blank %>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
      <tr>
        <th>ホームページ</th>
        <td>
          <%= link_to @artist.website_url, @artist.website_url, target: :_blank %>
        </td>
      </tr>
    </table>
  </li>
</ul>

<ul class="artist-button">
  <li><a href="#" class="btn-square-slant">フォローする</a></li>
  <li><a href="#" class="btn-square-slant">ファンレターを送る</a></li>
</ul>

<div class="profile-contents">
  <div class="tabs">
    <input id="tab1" type="radio" name="tab_item" checked>
    <label class="tab_item" for="tab1">自己紹介</label>
    <input id="tab2" type="radio" name="tab_item">
    <label class="tab_item" for="tab2">自己紹介2</label>

    <div class="tab_content" id="tab1_content">
      <div class="tab_content_description">
        <p>職務経歴をずらずらーーーっとなんかうまい感じに1</p>
      </div>
    </div>
    <div class="tab_content" id="tab2_content">
      <div class="tab_content_description">
        <p>職務経歴をずらずらーーーっとなんかうまい感じに2</p>
      </div>
    </div>
  </div>
</div>

<h2>参加したライブ一覧</h2>
<% if @artist.join_lives.present? %>
  <ul class="item-list">
    <%= render partial: 'common/live_cards', locals: { lives: @artist.join_lives } %>
  </ul>
<% else %>
  まだ参加したライブがありません
<% end %>

<h2>物販一覧</h2>
<div class="product-sales">
  <ul class="item-list">
    <%= render partial: 'common/item_cards' %>
  </ul>
  <%= link_to 'もっと見る', artist_items_path(artist_id: 1) %>
</div>

<ul class="artist-button">
  <li><a href="#" class="btn-square-slant">フォローする</a></li>
  <li><a href="#" class="btn-square-slant">ファンレターを送る</a></li>
</ul>
