<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li class="before-page"><%= link_to "#{current_artist.nickname}さんのマイページ", mypage_path %></li>
    <li class="before-page"><%= link_to 'イベント情報', mypage_lives_path %></li>
    <li><%= @event.title %>の情報を確認する</li>
  </ul>
</div>
<h2><%= @event.title %>の情報を確認する</h2>
<table class="mypage-event-settings">
  <tr>
    <th>アクション</th>
    <td>
      <div class="edit-event">
        <div class="create-event-button">
          <%= link_to edit_mypage_life_path(id: @event.id) do %>
            <i class="fas fa-edit"></i>イベントを編集する
          <% end %>
        </div>
      </div>
    </td>
  <tr>
    <th>イベント名</th>
    <td><%= @event.title %></td>
  </tr>
  <tr>
    <th>開催日</th>
    <td><%= @event.date.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>
      イベント参加者
      <% if @is_join %>
        <div class="event-button left">
          <%= link_to mypage_life_left_live_path(life_id: @event.id) do %>
            <i class="fas fa-sign-in-alt"></i>不参加にする
          <% end %>
        </div>
      <% else %>
        <div class="event-button join">
          <%= link_to mypage_life_join_live_path(life_id: @event.id) do %>
            <i class="fas fa-door-open"></i>参加する
          <% end %>
        </div>
      <% end %>
    </th>
    <td class="event-join-artists">
      <ul class="artist-list">
        <% @event.artists.each do |artist| %>
          <li class="artist-card">
            <% if artist.thumbnail.present? %>
              <%= image_tag url_for(artist.thumbnail.url), class: 'thumbnail' %>
            <% else %>
              <%= image_tag 'common/default.png', class: 'thumbnail' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <th>イベントの画像</th>
    <td>
      <% if @event.thumbnail.present? %>
        <%= image_tag url_for(@event.thumbnail.url), class: 'live-thumbnail-img' %>
      <% else %>
        <%= image_tag 'live.jpg', class: 'live-thumbnail-img' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>イベント説明</th>
    <td>
      <pre><%= @event.description %></pre>
    </td>
  </tr>
</table>
