<h2>アーティスト一覧</h2>
<ul class="artist-list">
  <li class="artist-card">
    <%= image_tag 'artists/joker.png', class: 'thumbnail' %>
    <div class="title">ジョーカー</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/sukaru.png', class: 'thumbnail' %>
    <div class="title">スカル</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/morugana.png', class: 'thumbnail' %>
    <div class="title">モナ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/pansa-.png', class: 'thumbnail' %>
    <div class="title">パンサー</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/fox.png', class: 'thumbnail' %>
    <div class="title">フォックス</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/queen.png', class: 'thumbnail' %>
    <div class="title">クイーン</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/navi.png', class: 'thumbnail' %>
    <div class="title">ナビ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/nowa-ru.png', class: 'thumbnail' %>
    <div class="title">ノワール</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/crow.png', class: 'thumbnail' %>
    <div class="title">クロウ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/vaioret.png', class: 'thumbnail' %>
    <div class="title">ヴァイオレット</div>
  </li>
</ul>

<h2>公演日一覧</h2>
<ul class="item-list">
  <%= link_to live_path(live_id: 10) do %>
    <li class="item-card">
      <div class="date">2021.09.02</div>
      <%= image_tag 'live.jpg', class: 'thumbnail' %>
      <div class="title">○○○ライブ</div>
    </li>
  <% end %>
  <li class="item-card">
    <div class="date">2021.09.02</div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">○○○ライブ</div>
  </li>
  <li class="item-card">
    <div class="date">2021.09.02</div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">○○○ライブ</div>
  </li>
  <li class="item-card">
    <div class="date">2021.09.02</div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">○○○ライブ</div>
  </li>
  <li class="item-card">
    <div class="date">2021.09.02</div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">○○○ライブ</div>
  </li>
  <li class="item-card">
    <div class="date">2021.09.02</div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">○○○ライブ</div>
  </li>
</ul>
  もっと見る

<h2>最新の物販一覧</h2>

<div class="product-sales">
  <ul class="item-list">
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
  </ul>
  もっと見る
</div>
