<h2>アーティスト一覧</h1>
<ul class="artist-list">
  <li class="artist-card">
    <%= image_tag 'artists/joker.png', class: 'thumbnail' %>
    <div class="title">ジョーカー</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/sukaru.png', class: 'thumbnail' %>
    <div class="title">スカル</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/morugana.png', class: 'thumbnail' %>
    <div class="title">モナ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/pansa-.png', class: 'thumbnail' %>
    <div class="title">パンサー</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/fox.png', class: 'thumbnail' %>
    <div class="title">フォックス</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/queen.png', class: 'thumbnail' %>
    <div class="title">クイーン</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/navi.png', class: 'thumbnail' %>
    <div class="title">ナビ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/nowa-ru.png', class: 'thumbnail' %>
    <div class="title">ノワール</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/crow.png', class: 'thumbnail' %>
    <div class="title">クロウ</div>
  </li>
  <li class="artist-card">
    <%= image_tag 'artists/vaioret.png', class: 'thumbnail' %>
    <div class="title">ヴァイオレット</div>
  </li>
</ul>

<h2>公演日一覧</h1>
<ul class="item-list">
  <li class="item-card">
    <div class="date">
      2021.09.02
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.09.01
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.30
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.25
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
  <li class="item-card">
    <div class="date">
      2021.08.20
    </div>
    <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <div class="title">
      ○○○ライブ
    </div>
  </li>
</ul>
