<h2>アーティスト一覧</h2>
<ul class="artist-list">
  <% @artists.each do |artist| %>
    <%= link_to artist_path(artist_id: artist.id) do %>
      <li class="artist-card">
        <% if artist.thumbnail.present? %>
          <%= image_tag url_for(artist.thumbnail.url), class: 'thumbnail' %>
        <% else %>
          <%= image_tag 'common/default.png', class: 'thumbnail' %>
        <% end %>
        <div class="title"><%= artist.nickname %></div>
      </li>
    <% end %>
  <% end %>
</ul>

<h2>イベント一覧</h2>
<ul class="item-list">
  <%= render partial: 'common/event_cards', locals: { events: @events } %>
</ul>
  もっと見る

<h2>最新の物販一覧</h2>

<div class="product-sales">
  <ul class="item-list">
    <%= render partial: 'common/item_cards', locals: { items: @items } %>
  </ul>
  もっと見る
</div>
