<div class="breadcrumb">
  <ul>
    <li class="before-page">トップ</li>
    <li class="before-page">ジョンさんのプロフィール</li>
    <li>ジョンさんの商品一覧</li>
  </ul>
</div>
<h2>ジョンさんの商品一覧</h2>
<ul class="artist-list">
  <%= link_to artist_path(artist_id: 1) do %>
  <li class="artist-card">
    <%= image_tag 'artists/joker.png', class: 'thumbnail' %>
    <div class="title">ジョーカー</div>
  </li>
  <% end %>
  <div class="balloon">
    どれも精一杯作りました！ぜひご購入ください！
  </div>
</ul>

<div class="product-sales">
  <ul class="item-list">
    <%= link_to item_path(id: 1) do %>
      <li class="item-card">
        <div class="title">怪盗団の予告状</div>
        <div class="description">
          <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
          <ul class="artist-list">
            <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          </ul>
        </div>
        <div class="live">2021.09.10 〇〇〇ライブ</div>
        <div class="price">¥ 1,500-</div>
      </li>
    <% end %>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="live">2021.09.10 〇〇〇ライブ</div>
      <div class="price">¥ 1,500-</div>
    </li>
  </ul>
</div>
