<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li class="before-page">ジョーカーさんの商品</li>
    <li><%= @item.name %></li>
  </ul>
</div>

<h2><%= @item.name %></h2>
<div class="items">
  <div class="item-photo">
    <% if @item.thumbnail.present? %>
      <%= image_tag url_for(@item.thumbnail.url) %>
    <% else %>
      <%= image_tag 'live.jpg' %>
    <% end %>
  </div>
  <div class="description">
    <ul class="tags">
      <li>
        <div class="tag-icon">
          <%= image_tag 'common/tag.png' %>
        </div>
        写真
      </li>
      <li>
        <div class="tag-icon">
          <%= image_tag 'common/tag.png' %>
        </div>
        記念品
      </li>
      <li>
        <div class="tag-icon">
          <%= image_tag 'common/tag.png' %>
        </div>
        期間限定
      </li>
    </ul>
    <div class="price"><%= shop_format(@item.price) %></div>
    <div class="shopping">
      <div class="flow"><%= @item.sales_format %></div>
      <% unless @item.sales_format_id == 2 %>
        <div class="date">発送までの日数目安：<%= @item.delivery_days %>日以内</div>
      <% end %>
    </div>
    <div class="add-cart">
      <div class="cart-icon"><%= image_tag 'common/cart.png' %></div>
      カートに追加する
    </div>
    <div class="review">
      <span>評価</span>
      <span class="star5_rating" data-rate="4.5"></span>
    </div>
    <ul class="artist-list">
      <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
      <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
    </ul>
  </div>
</div>

<ul class="artist-list">
  <%= link_to artist_path(artist_id: @item.artist.id) do %>
  <li class="artist-card">
    <% if @item.artist.thumbnail.present? %>
      <%= image_tag url_for(@item.artist.thumbnail.url), class: 'thumbnail' %>
    <% else %>
      <%= image_tag 'common/default.png', class: 'thumbnail' %>
    <% end %>
    <div class="title"><%= @item.artist.nickname %></div>
  </li>
  <% end %>
  <div class="balloon">
    <%= simple_format(@item.description) %>
  </div>
</ul>

<h2>この商品を見た人はこちらも見ています</h2>
<div class="product-sales">
  <ul class="item-list">
    <%#= render partial: 'common/item_cards', locals: { items: @items } %>
    準備中
  </ul>
</div>
