<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li><%= @live.title %></li>
  </ul>
</div>
<h2><%= @live.title %></h2>
<div class="live-contents">
  <div class="live-thumbnail">
    <% if @live.thumbnail.present? %>
      <%= image_tag url_for(@live.thumbnail.url), class: 'thumbnail' %>
    <% else %>
      <%= image_tag 'live.jpg', class: 'thumbnail' %>
    <% end %>

    <ul class="artist-list">
      <% @live.artists.each do |artist| %>
        <%= link_to artist_path(artist_id: artist.id) do %>
        <li class="artist-card">
          <% if artist.thumbnail.present? %>
            <%= image_tag url_for(artist.thumbnail.url), class: 'thumbnail' %>
          <% else %>
            <%= image_tag 'common/default.png', class: 'thumbnail' %>
          <% end %>
          <div class="title"><%= artist.nickname %></div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<h2>物販一覧</h2>

<div class="product-sales">
  <ul class="item-list">
    <%= render partial: 'common/item_cards', locals: { items: @live.items } %>
  </ul>
</div>
