<div class="breadcrumb">
  <ul>
    <li class="before-page">トップ</li>
    <li>○○○ライブ</li>
  </ul>
</div>
<h2>○○○ライブ</h2>
<div class="live-contents">
  <div class="live-thumbnail">
    <%= image_tag 'live.jpg', class: 'thumbnail' %>

    <ul class="artist-list">
      <%= link_to artist_path(artist_id: 1) do %>
      <li class="artist-card">
        <%= image_tag 'artists/joker.png', class: 'thumbnail' %>
        <div class="title">ジョーカー</div>
      </li>
      <% end %>
      <li class="artist-card">
        <%= image_tag 'artists/sukaru.png', class: 'thumbnail' %>
        <div class="title">スカル</div>
      </li>
      <li class="artist-card">
        <%= image_tag 'artists/fox.png', class: 'thumbnail' %>
        <div class="title">フォックス</div>
      </li>
      <li class="artist-card">
        <%= image_tag 'artists/queen.png', class: 'thumbnail' %>
        <div class="title">クイーン</div>
      </li>
      <li class="artist-card">
        <%= image_tag 'artists/vaioret.png', class: 'thumbnail' %>
        <div class="title">ヴァイオレット</div>
      </li>
    </ul>
  </div>
</div>




<h2>物販一覧</h2>

<div class="product-sales">
  <ul class="item-list">
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/sukaru.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/joker.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/fox.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
    <li class="item-card">
      <div class="title">怪盗団の予告状</div>
      <div class="description">
        <%= image_tag 'items/item.jpg', class: 'thumbnail' %>
        <ul class="artist-list">
          <li class="artist-card"><%= image_tag 'artists/queen.png', class: 'thumbnail' %></li>
          <li class="artist-card"><%= image_tag 'artists/vaioret.png', class: 'thumbnail' %></li>
        </ul>
      </div>
      <div class="price">¥ 1,500-</div>
    </li>
  </ul>
</div>
