<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li class="before-page"><%= link_to "#{current_artist.nickname}さんのマイページ", mypage_path %></li>
    <li class="before-page"><%= link_to '商品一覧', mypage_items_path %></li>
    <li><%= @item.name %>の情報を確認する</li>
  </ul>
</div>
<h2><%= @item.name %>の情報を確認する</h2>
<table class="mypage-event-settings">
  <tr>
    <th>
      アクション
      <div class="event-button left">
        <%= link_to item_path(life_id: @item.id), target: '_blank' do %>
          <i class="fas fa-shopping-bag"></i>ページを確認する
        <% end %>
      </div>
    </th>
    <td>
      <div class="edit-event">
        <div class="create-event-button">
          <%= link_to edit_mypage_item_path(id: @item.id) do %>
            <i class="fas fa-edit"></i>商品を編集する
          <% end %>
        </div>
      </div>
    </td>
  <tr>
    <th>商品</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= shop_format(@item.price) %></td>
  </tr>
  <tr>
    <th>商品タグ</th>
    <td>
      <ul class="item-list item-detail">
        <% @item.tags.each do |tag| %>
          <li><%= tag.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <th>商品の画像</th>
    <td>
      <% if @item.thumbnail.present? %>
        <%= image_tag url_for(@item.thumbnail.url), class: 'live-thumbnail-img' %>
      <% else %>
        <%= image_tag 'live.jpg', class: 'live-thumbnail-img' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td>
      <%= simple_format(@item.description) %>
    </td>
  </tr>
  <tr>
    <th>商品関係者</th>
    <td class="event-join-artists">
      <ul class="artist-list">
        <% @item.artists.each do |artist| %>
          <li class="artist-card">
            <% if artist.thumbnail.present? %>
              <%= image_tag url_for(artist.thumbnail.url), class: 'thumbnail' %>
            <% else %>
              <%= image_tag 'common/default.png', class: 'thumbnail' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </td>
  </tr>
  <tr>
    <th>発送方法</th>
    <td><%= @item.sales_format.name %></td>
  </tr>
  <% unless @item.sales_format_id == 2 %>
    <tr>
      <th>注文から発送までの日数目安</th>
      <td><%= @item.delivery_days %>日</td>
    </tr>
  <% end %>
  <tr>
    <th>関係しているイベント</th>
    <td>
      <ul class="item-list item-detail">
        <% @item.events.each do |live| %>
          <li><%= live.title %>（<%= live.date.strftime('%Y.%m.%d') %>）</li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
