<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li><%= user.nickname %>さんのマイページ</li>
  </ul>
</div>
<h2><%= user.nickname %>さんのプロフィール</h2>
<ul class="artist-profile">
  <li>
    <div class="thumbnail">
      <% if user.thumbnail.present? %>
        <%= image_tag url_for(user.thumbnail.url) %>
      <% else %>
        <%= image_tag 'common/default.png' %>
      <% end %>
    </div>
  </li>
  <li>
    <table>
      <tr>
        <th>ユーザー名</th><td>
          <%= user.nickname %><br>
          本名：<%= user.name %>（非公開）
        </td>
      </tr>
      <tr>
        <th>住所</th>
        <td>
          <table class="sns_account_list">
            <tr>
              <td class="sns-id"><%= user.postal_code %></td>
            </tr>
            <tr>
              <td class="sns-id"><%= user.address_1 %></td>
            </tr>
            <tr>
              <td class="sns-id"><%= user.address_2 %></td>
            </tr>
            <tr>
              <td class="sns-id"><%= user.address_3 %></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <th>所持ポイント</th><td>
          1,580
        </td>
      </tr>
    </table>
  </li>
</ul>

<h2>フォローしているアーティスト</h2>
<ul class="artist-list">
  <% user.artists.reverse.each do |artist| %>
    <%= link_to artist_path(artist_id: artist.id) do %>
      <li class="artist-card">
        <% if artist.thumbnail.present? %>
          <%= image_tag url_for(artist.thumbnail.url), class: 'thumbnail' %>
        <% else %>
          <%= image_tag 'common/default.png', class: 'thumbnail' %>
        <% end %>
        <div class="title"><%= artist.nickname %></div>
      </li>
    <% end %>
  <% end %>
</ul>

<h2>フォローしているアーティストが参加しているイベント一覧</h2>
<ul class="item-list">
  <%= render partial: 'common/event_cards', locals: { events: current_user.follow_artists_events } %>
</ul>
  もっと見る

<h2>フォローしているアーティストが関係している商品一覧</h2>
<div class="product-sales">
  <ul class="item-list">
    <%= render partial: 'common/item_cards', locals: { items: current_user.follow_artists_items } %>
  </ul>
  もっと見る
</div>
