<% items.each do |item| %>
  <%= link_to item_path(id: item.id) do %>
    <li class="item-card">
      <div class="title"><%= item.name %></div>
      <div class="description">
        <% if item.thumbnail.present? %>
          <%= image_tag url_for(item.thumbnail.url), class: 'thumbnail' %>
        <% else %>
          <%= image_tag 'live.jpg', class: 'thumbnail' %>
        <% end %>
        <ul class="artist-list">
          <li class="artist-card">
            <!-- 作者のアイコン -->
            <% if item.artist.thumbnail.present? %>
              <%= image_tag url_for(item.artist.thumbnail.url), class: 'thumbnail' %>
            <% else %>
              <%= image_tag 'common/default.png', class: 'thumbnail' %>
            <% end %>
          </li>
          <% item.partners.each do |partner| %>
            <li class="artist-card">
              <!-- 関係者のアイコン -->
              <% if partner.thumbnail.present? %>
                <%= image_tag url_for(partner.thumbnail.url), class: 'thumbnail' %>
              <% else %>
                <%= image_tag 'common/default.png', class: 'thumbnail' %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="live"><%= item.events&.first&.title %></div>
      <div class="price"><%= shop_format(item.price) %></div>
    </li>
  <% end %>
<% end %>
