<!DOCTYPE html>
<html>
  <head>
    <title>Haraherhythm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8cbe5e81a1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <contents>
      <% if current_artist.present? %>
        <%= render 'layouts/sidebar_artist' %>
      <% elsif current_user.present? %>
        <%= render 'layouts/sidebar_user' %>
      <% else %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <div class="main">
        <%= yield %>
      </div>
    </contents>
    <footer>
      footer
      <% unless (current_artist.present? || current_user.present?) %>
        <div>
          <%= link_to "アーティスト新規登録（いずれ隠す）", new_artist_registration_path %>
        </div>
        <div>
          <%= link_to "アーティストログイン（いずれ隠す）", new_artist_session_path %>
        </div>
      <% end %>
    </footer>
  </body>
</html>
