<!DOCTYPE html>
<html>
  <head>
    <title>Haraherhythm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <contents>
      <% if current_artist.present? %>
        <%= render 'layouts/sidebar_artist' %>
      <% else %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <div class="main">
        <%= yield %>
      </div>
    </contents>
    <footer>
      footer
    </footer>
  </body>
</html>
