<% events.each do |event| %>
  <%= link_to mypage_event_path(id: event.id) do %>
    <li class="item-card">
      <div class="date"><%= event.date.strftime('%Y.%m.%d') %></div>
      <% if event.thumbnail.present? %>
        <%= image_tag url_for(event.thumbnail.url), class: 'thumbnail' %>
      <% else %>
        <%= image_tag 'live.jpg', class: 'thumbnail' %>
      <% end %>
      <div class="title"><%= event.title %></div>
    </li>
  <% end %>
<% end %>
