<% lives.each do |live| %>
  <%= link_to mypage_life_path(id: live.id) do %>
    <li class="item-card">
      <div class="date"><%= live.date.strftime('%Y.%m.%d') %></div>
      <% if live.thumbnail.attached? %>
        <%= image_tag url_for(live.thumbnail), class: 'thumbnail' %>
      <% else %>
        <%= image_tag 'live.jpg', class: 'thumbnail' %>
      <% end %>
      <div class="title"><%= live.title %></div>
    </li>
  <% end %>
<% end %>
